<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PickleBall_StoreEntities" connectionString="metadata=res://*/PickleBall_StoreModel.csdl|res://*/PickleBall_StoreModel.ssdl|res://*/PickleBall_StoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=PickleBall_Store;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>