
@{
    ViewBag.Title = "Well, Pickleballs!!";
}

<h2 class="text-center">@ViewBag.Title</h2>

<img src="~/Content/store_images/PickleballsCustomErrorPage.jpg" style="width: 100%;"/>

<p class="text-lg-center" style="font-size: 2em;">Something has gone wrong! We're very sorry and we will work to resolve the error as soon as possible. You can press this link to take you back to the <u><b><i>@Html.ActionLink("home", "Index", "Home")</i></b></u> page.</p>
