@{
    ViewBag.Title = "About";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="@Url.Action("Index", "Home")">Home</a></span> / <span>About</span></p>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-about">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-6 mb-3">
                <div class="iframe-container" >
                    @*<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play3"></i></a>*@
                    <iframe class="popup-vimeo" width="560" height="315" src="https://www.youtube.com/embed/MtEWJSc_FJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-wrap">
                    <h2>The BEST <u>fake</u> Pickleball Online Store in the <b>WORLD</b>!</h2>
                    <p>Do you LOVE pickleball!? We LOVE pickelball. We LOVE pickleball so much we created this site! When we launched this store way back in March of 2022 we had one goal in mind, bring the best of pickleball paddles, balls, and shoes and put them on the fakest online store for pickleball products. And that's just what we've done! </p>
                    <p>We are truly dedicated to providing the best fake service at the best fake value for your real money!  Our staff is wholly dedicated half the time to your utmost satisfaction on our limited selection that gives you unlimited enjoyment. Confused? Once you shop THE Pickleball Store you will understand. If you don't, contact our wonderfully fake customer service department for a chance we might reply.</p>
                </div>
            </div>
        </div>
    </div>
</div>