@{
    ViewBag.Title = "Home Page";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Content/images/Banner-1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Paddles</h1>
                                    <h2 class="head-2">Now</h2>
                                    <h2 class="head-3">Available</h2>
                                    <p class="category"><span>New Paddles Listed</span></p>
                                    <p><a href="@Url.Action("Index", "Products")" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Content/images/Banner-2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Huge</h1>
                                    <h2 class="head-2">Discount</h2>
                                    <h2 class="head-3"><strong class="font-weight-bold">25%</strong> Off Any Ball Purchase</h2>
                                    <p class="category"><span>When you spend $100</span></p>
                                    <p><a href="@Url.Action("Index", "Products")" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Content/images/Banner-3.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">New</h1>
                                    <h2 class="head-2">Arrivals</h2>
                                    <h2 class="head-3">up to <strong class="font-weight-bold">20%</strong> off</h2>
                                    <p class="category"><span>New stylish shoes for men and women</span></p>
                                    <p><a href="@Url.Action("Index", "Products")" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div class="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="intro">Welcome to <u>THE</u> Pickleball Store! Your home for Paddles, Shoes, Balls and <u>FUN</u>!</h2>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/Content/images/Shop_Paddles_Collection.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Shop Paddles Collection</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/Content/images/Shop_Balls_Collection.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Shop Pickleballs Collection</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/Content/images/Shop_Shoes_Collection.jpg);"></a>
                    <div class="desc">
                        <h2><a href="#">Shop Shoes Collection</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Best Sellers</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Recruit_by_Onix_Pickleball_Pure_Outdoor_Balls_3pk.jpeg" class="img-fluid" alt="Recruit by Onix Pure Outdoor Pickleball 3 Pack">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Recruit by Onix Pure Outdoor Pickleball 3</a></h2>
                        <span class="price">$9.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Head_Sprint_Pro_3.5_Shoe-Mens.jpg" class="img-fluid" alt="Head Sprint Pro 3.5 Mens Shoe">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Head Sprint Pro 3.5 Mens Shoe"</a></h2>
                        <span class="price">$104.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Penn_40_outdoor_3pk.jpg" class="img-fluid" alt="Penn 40 Outdoor Pickleball 3 Pack">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Penn 40 Outdoor Pickleball 3</a></h2>
                        <span class="price">$10.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Wilson_Juice_Paddle.jpeg" class="img-fluid" alt="Wilson Juice Paddle">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Wilson Juice Paddle</a></h2>
                        <span class="price">$89.99</span>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Tyrol_Drive-V_Shoe_Womens.jpg" class="img-fluid" alt="Tyrol Drive-V Womens Shoe">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Tyrol Drive-V Womens Shoe</a></h2>
                        <span class="price">$113.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/ProLite_Illuminate.jpg" class="img-fluid" alt="ProLite Illuminate Paddle">
                    </a>
                    <div class="desc">
                        <h2><a href="#">ProLite Illuminate Paddle</a></h2>
                        <span class="price">$89.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Onix_Voyager_graphite_Paddle.jpg" class="img-fluid" alt="Onix Voyager Graphite Paddle">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Onix Voyager Graphite Paddle</a></h2>
                        <span class="price">$114.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Onix_Composite_Z5_WideBody.jpg" class="img-fluid" alt="Onix Composite Z5 Widebody Paddle">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Onix Composite Z5 Widebody Paddle</a></h2>
                        <span class="price">$99.00</span>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/GAMMA_Photon_outdoor_picklesballs_3pk.jpeg" class="img-fluid" alt="GAMMA Photon Outdoor Pickleball 3 Pack">
                    </a>
                    <div class="desc">
                        <h2><a href="#">GAMMA Photon Outdoor Pickleball 3pk</a></h2>
                        <span class="price">$8.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Head_Revolt_Pro_4.0_Shoe-Mens.jpg" class="img-fluid" alt="Head Revolt 4.0 Mens Shoe">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Head Revolt 4.0 Mens Shoe</a></h2>
                        <span class="price">$119.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Head_Extreme_Tour_Max_Paddle.jpg" class="img-fluid" alt="Head Extreme Tour Max Paddle">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Head Extreme Tour Max Paddle</a></h2>
                        <span class="price">$114.99</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Franklin_Sports_X-26_Indoor_Pickleball_3pk.png" class="img-fluid" alt="Franklin Sports X-26 Indoor Pickleball 3 Pack">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Franklin Sports X-26 Indoor Pickleball 3pk</a></h2>
                        <span class="price">$9.99</span>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Fila_Volly_Zone_Shoe_Womens.jpg" class="img-fluid" alt="Fila Volly Zone Womens Shoe">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Fila Volly Zone Womens Sho</a></h2>
                        <span class="price">$105.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Dura_Fast_40_Pickleball_4pk.jpg" class="img-fluid" alt="Dura Fast 40 Pickleball 4 pack">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Dura Fast 40 Pickleball 4pk</a></h2>
                        <span class="price">$13.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Babolat_Jet_March_3_Men's_All_Court_Shoe.jpg" class="img-fluid" alt="Babolat Jet March 3 Men's All Court Shoe">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Babolat Jet March 3 Men's All Court Shoe</a></h2>
                        <span class="price">$119.00</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 text-center">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="~/Content/store_images/Diadora_Contact_Paddle.jpg" class="img-fluid" alt="Diadora Contact Paddle">
                    </a>
                    <div class="desc">
                        <h2><a href="#">Diadora Contact Paddle</a></h2>
                        <span class="price">$105.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Products")">Shop All Products</a></p>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Trusted Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col partner-col text-center">
                <img src="~/Content/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="~/Content/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="~/Content/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="~/Content/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
            <div class="col partner-col text-center">
                <img src="~/Content/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
            </div>
        </div>
    </div>
</div>